h1 {background-color: rgb(197, 155, 236);
    border-radius: 7px; text-align: center;color: darkgreen;font-size: pt;}

h2 {background-color: darkgreen ;text-align: center; text-decoration: line-through;}
p {color: rgb(3, 20, 70);}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 400px;}
p1 {color: rgba(255, 0, 0, 0.76);text-decoration: dotted}
















